@model IEnumerable<Tarea.Presentacion.Models.PersonaUI>

@{
    ViewData["Title"] = "listarPersona";
}


    <center >
        <h1>Personas!</h1>
        <p>
            <a  class="badge badge-danger" asp-action="Privacy">Create New Person</a>
        </p>
    </center>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PersonaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PersonaId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cedula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaNacimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sexo)
                </td>
                <td>
                   @*<button id="btnEnviar" type="button" class="btn btn-danger" value="@Html.DisplayFor(modelItem => item.PersonaId)">   @Html.DisplayFor(modelItem => item.PersonaId)</button>*@
                    @Html.ActionLink("Editar", "filtrarPersona", new { id = item.Cedula }, new{ @class="btn btn-warning" }) |
                    @Html.ActionLink("Eliminar", "EliminarPersona", new { persona = item.Cedula }, new{ @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>


